.navbar img {
  width: 120px;
}
.nav-item {
  color: white;
}

.nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 2px solid rgb(6, 161, 58);
  width: 50%;
  margin: auto;
  margin-bottom: -2px;
}
.jumbotron h5 {
  color: rgba(6, 161, 58);
  text-transform: capitalize;
  margin-top: 50px;
}
.jumbotron h1 {
  font-weight: 200;
  font-size: 37px;
}
.jumbotron p {
  margin-top: 50px;
}
.jumbotron p,
.hire .col-lg-3 p {
  font-weight: 200;
}
.col-4 img,
footer img {
  width: 20px;
  margin-top: 8px;
  margin-right: 5px;
}
.col-4 a {
  text-decoration: none;
  font-weight: 100;
}
.download i {
  margin-top: 15px;
}
.download a {
  font-size: 12px;
}
.project {
  margin-top: 50px;
}
.project .col {
  margin: 15px;
  padding: 0px;
  box-shadow: 1px 1px 10px white;
  border-radius: 10px;
}
.project .col img {
  border-radius: 10px;
  width: 100px;
  margin: auto;
  padding: 20px;
}

.hire .col-lg-3 img {
  width: 100px;
  float: left;
  margin-right: 15px;
}
.box {
  background-color: #64626280;
}
.hire .row {
  box-shadow: 0px 0px 2px #acacac;
  background-color: #64626280;
  border-radius: 20px;
}
.hire .row .col-lg-3 {
  padding: 15px;
}
.hire p {
  font-size: 12px;
}
.hire hr {
  width: 30px;
}
.tools .align img {
  width: 50px;
  margin-right: 20px;
}
.tools .align {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .col-lg-6 p {
  display: inline-block;
  margin-top: 18px;
}
@media (min-width: 992px) {
  .jumbotron {
    padding: 80px 150px;
  }
  .jumbotron h5 {
    margin-top: 0;
  }
  .project {
    padding: 0 150px;
    margin-top: 50px;
  }
}
